.event-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 54px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #dadada;
  border-radius: 10px;
  background-color: #fff;
}
img {
  height: 50%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.event-nav-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid #dadada;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
a {
  background-color: transparent;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
event-nav-button.w--current {
  background-color: #a6f3ff;
  color: #2b2b2b;
}
.event-nav-icon {
  height: 100%;
  margin-right: 9px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.profile-container {
  margin: 0 0 23px 0;
  padding: 20px 20px 12px 20px;
}
.card {
  margin-bottom: 23px;
  padding: 20px 20px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #dadada;
  border-radius: 10px;
  background-color: #fff;
}
.profile-image {
  width: 160px;
  height: 160px;
  border-radius: 90px;
  background-color: #fff;
  background-image: url(https://assets.website-files.com/5f7b31b…/5fa5767…_philippe-oursel-pgw6cR_wQ8s-unsplash.jpg);
  background-position: 0px 0px;
  background-size: cover;
}
