.App {
  text-align: center;
  background: grey;
}
nav {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(248, 248, 248);
  color: black;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
